:root {
  --sage: #A3A380;
  --vanilla: #D6CE93;
  --biege: #EFEBCE;
  --buff: #D8A48F;
  --old-rose: #BB8588;
}

*, 
*::after,
*::before {
  margin: 0;
  transition: 0.3s;
}

@media (min-width:769px) {
  .wr label:hover {
    background-color: #8f696b;
  }
}

html {
  background-color: var(--buff);
}

.wr {
  width: 40%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
}

.wr label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem 1.5rem;
  position: relative;
  z-index: 20;
  display: block;
  height: 2rem;
  color: var(--vanilla);
  background: #c36161;
  text-shadow: 1px 1px 1px rgba(255,255,255, 0.8);
  line-height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;

  border-radius: 5px;
}

input:checked + label,
input:checked + label:hover {
  background: var(--old-rose);
  color: #3d7489;
}

.wr label:hover {
  background: #815053;
}

.wr input {
  display: none;
}

.wr article {
  margin-top: -0.0625rem;
  overflow: hidden;
  height: 0rem;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.wr input:checked ~ article {
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
  height: 8rem;
}

.wr  div {
  margin-bottom: 1rem;
}